:root {
    --primary: #888;
    --primary-dark: #777;

    --accent: #555;
    --accent-dark: #444;

    --dark: #000;
    --light: #fff;

    --font: serif;
}

h1, h2, h3, h4, h5, h6, p {margin: 1em 0;}

h1 {font-size: 2rem;}

h2 {font-size: 1.75rem;}

h3 {font-size: 1.5rem;}

h4 {font-size: 1.25rem;}

section {padding: 2rem;}

main {
    flex-basis: 70%;
}

aside {
    flex-basis: 30%;
}

.main-aside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bg-primary {background-color: var(--primary);}

.bg-accent {background-color: var(--accent);}

/* Tablet */
@media only screen and (min-width: 768px) {

}

/* Small Laptops */
@media only screen and (min-width: 992px) {
    .main-aside {
        flex-direction: row;
    }
}

/* Desktops */
@media only screen and (min-width: 1200px) {
    section {
        width: 70vw;
        margin: 0 auto;
    }
}
